.node {
  min-height: 30px;
  min-width: 30px;
  border-bottom: solid #64ddf0 0.1px;
  border-right: solid #64ddf0 0.1px;
}

.animation {
  transition: background-color 2000ms linear;
}

.searchAnimation {
  background-color: #40cee3;
  animation: visit 1s ease-in-out;
}

.backtrack {
  background-color: #f1f511;
  animation: backtrack 1s ease-in-out;
}

.clicked {
  background-color: gray;
  border-bottom: solid grey 0.5px;
  border-right: solid grey 0.5px;
}

.target,
.source {
  cursor: pointer;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.source {
  border-radius: 50%;
}

.source span {
  position: relative;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: white;
}
.source span::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

.target span {
  position: relative;
  height: 18px;
  width: 18px;
  background-color: white;
}
.target span::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: black;
  position: absolute;
  top: 4px;
  left: 4px;
}
.wall {
  background-color: #0c3547;
  border-color: #64ddf0;
  animation: zoom-in-zoom-out 0.2s ease-in-out;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes visit {
  0% {
    transform: scale(0.5, 0.5);
    background-color: rgb(251, 255, 42);
    border-radius: 50%;
  }
  50% {
    transform: scale(1, 1);
    background-color: #00ddff;
    border-radius: 20%;
  }
  100% {
    background-color: #40cee3;
    border-radius: 0%;
  }
}

@keyframes backtrack {
  0% {
    transform: scale(0.5, 0.5);
    background-color: white;
    border-radius: 50%;
  }
  50% {
    transform: scale(1, 1);
    background-color: rgb(243, 223, 41);
    border-radius: 20%;
  }
  100% {
    background-color: rgb(245, 230, 101);
    border-radius: 0%;
  }
}
