body {
  margin: 0;
  width: 1920px;
  min-height: 1080px;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* disable elem drag */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main {
  position: relative;
}

.main::after {
  content: "Yonatan Merkebu";
  position: fixed;
  bottom: 10px;
  left: 45%;
  padding: 0px 5px;
  /* border: #3092e9 solid .5px; */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #5eb4ff;
  background-color: white;
}
.logo {
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  color: #5b6579;
}

.logo span:nth-child(1) {
  color: #3092e9;
}
.logo span:nth-child(2) {
  color: #f7d716;
}
.logo span:nth-child(3) {
  color: #40e0d0;
}
.logo span:nth-child(4) {
  color: #d340e0;
}
